
/* 
<--- colorsheme reminder --->

<- CSS HEX ->
--black: #080705ff; #171717;
--aquamarine: #a5ffd6ff;
--tyrian-purple: #700548ff;
--pale-purple: #e5d9f2ff;
--vista-blue: #7899d4ff;

<- CSS HSL ->
--black: hsla(40, 23%, 3%, 1);
--aquamarine: hsla(153, 100%, 82%, 1);
--tyrian-purple: hsla(322, 91%, 23%, 1);
--pale-purple: hsla(269, 49%, 90%, 1);
--vista-blue: hsla(218, 52%, 65%, 1);

<- SCSS Gradient ->
$gradient-top: linear-gradient(0deg, #080705ff, #a5ffd6ff, #700548ff, #e5d9f2ff, #7899d4ff);
$gradient-right: linear-gradient(90deg, #080705ff, #a5ffd6ff, #700548ff, #e5d9f2ff, #7899d4ff);
$gradient-bottom: linear-gradient(180deg, #080705ff, #a5ffd6ff, #700548ff, #e5d9f2ff, #7899d4ff);
$gradient-left: linear-gradient(270deg, #080705ff, #a5ffd6ff, #700548ff, #e5d9f2ff, #7899d4ff);
$gradient-top-right: linear-gradient(45deg, #080705ff, #a5ffd6ff, #700548ff, #e5d9f2ff, #7899d4ff);
$gradient-bottom-right: linear-gradient(135deg, #080705ff, #a5ffd6ff, #700548ff, #e5d9f2ff, #7899d4ff);
$gradient-top-left: linear-gradient(225deg, #080705ff, #a5ffd6ff, #700548ff, #e5d9f2ff, #7899d4ff);
$gradient-bottom-left: linear-gradient(315deg, #080705ff, #a5ffd6ff, #700548ff, #e5d9f2ff, #7899d4ff);
$gradient-radial: radial-gradient(#080705ff, #a5ffd6ff, #700548ff, #e5d9f2ff, #7899d4ff);

*/


html, body {
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    color: #171717;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0px;
    background-color: #171717;
}

.headbox {
    display: flex;
    width: 75vw;
    justify-content: space-between;
}

.herobox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 12px 80px;
    background-color: #171717;
    color: #d9d9d9;
    min-height: 350px;
}

.hero {
    display: flex;
    width: 75vw;
}

.heroleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 50%;
}

.heroright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5d9f2ff;
    flex-basis: 50%;
}

.herobutton {
    color: #171717;
    background-color: #f6c145;
    padding: 6px 18px;
    border-radius: 12px;
    border: none;
    transition-duration: .4s;
}

.herobutton:hover {
    background-color: #d9d9d9;
    color: #171717;
}

.infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #f6c145;
    min-height: 350px;
}

.container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 120px;
    text-align: center;
}

.image {
    width: 120px;
    height: 120px;
    border: 3px solid #171717;
    border-radius: 10px;
}

.quotebox {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #171717;
    min-height: 350px;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-bottom: 0;
    color: #d9d9d9;
    font-style: italic;
}

.author {
    font-weight: bold;
    margin-top: 0;
    width: 600px;
    text-align: end;
    color: #d9d9d9;
}

.signupbox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6c145;
    min-height: 350px;
}

.banner {
    width: 75vw;
    height: 100px;
    background-color: #171717;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bannerleft {
    color: #f6c145;
    padding: 40px;
}

.bannerright {
    padding-right: 40px;
}

h1 {
    font-size: 48px;
    margin-bottom: 0;
    font-weight: 900;
}

ul {
    margin-right: 32px;
    display: flex;
    gap: 32px;
    color: #f6c145;
    list-style: none
}

a {
    text-decoration: none;
    color: #f6c145;
}

footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    color: #f6c145;
}